<head>
     <link rel="stylesheet" href="css/style-login.css">
</head>

<header>
    <table id="cabecalho">
        <thead>
            <tr>
                <th id="logo">
                    <h1>8RMS</h1>
                </th>
                <th id="inicio">
                    <h4>Início</h4>
                </th>
                <th id="sobre">
                    <h4>Sobre</h4>
                </th>
                <th id="contato">
                    <h4>Contato</h4>
                </th>
            </tr>
        </thead>
    </table>
</header>

<main class="login">
    <div class="container">
        <div class="box">
            <img src="img/login-icon.png" alt="login icon" id="icon-login">

            <div>
                <input type="text" id="e-mail" placeholder="E-mail"><br>
                <input type="password" id="password" placeholder="Senha">
            </div>

            <button id="enviar">Enviar</button>

        </div>
    </div>
</main>

<footer>
    <p>8RMS</p>
</footer>