<head>
    <link rel="stylesheet" href="/css/style-contato.css">
    <link rel="stylesheet" href="/bootstrap-4.6.0-dist/css/bootstrap.min.css">
</head>

<main class="contato">

    <form class="form-signin" method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Duvidas ou problemas? Nós entramos em contato!</h1>
        <div class="container">
            <h3>Te enviamos um e-mail</h3>
            <label for="inputEmail" class="sr-only">E-mail</label>
            <input type="email" id="e-mail" name="email" class="form-control" placeholder="E-mail" autofocus>
        </div>
            <h3>Ou</h3>
        <div class="container">
            <h3>Ligamos para você</h3>
            <label for="inputPassword" class="sr-only">Telefone</label>
            <input type="tel" id="phone" name="phone" class="form-control" placeholder="Telefone" >
        </div>
        <div class="mb-1">
            <button class="btn btn-lg btn-primary" type="submit" value="Entrar">Enviar</button>
        </div>
    </form>

</main>

<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>8RMS</p>
    </div>
</footer>