
<h1>Resumo Geral</h1>
<table class="table table-striped bg-white table-hover">
  <body>
    <tr>
      <td>
        Quantidade de Funcionários: ???      
      </td>
      <td>
        Quantidade de Setores: ???
      </td>
    </tr>
    <tr>
      <td>
        Quantidade de Cargos: ???      
      </td>
      <td>
        Quantidade de ???: ???
      </td>
    </tr>
  </body>
</table>