
<h1>Resumo Geral</h1>
<table class="table table-striped bg-white table-hover">
  <body>
    <tr>
      <td>
        Total de Funcionários: {{data.funcionarios}}      
      </td>     
    </tr>
    <tr>
       <td>
        Total de Setores: {{data.setores}}
      </td>    
    </tr>
    <tr>
      <td>
        Total de Cargos: {{data.cargos}}     
      </td>
    </tr>
  </body>
</table>