<header>
    <table id="cabecalho">
        <thead>
            <tr>
                <th id="logo">
                    <h1>8RMS</h1>
                </th>
                <th id="inicio">
                    <h4>Início</h4>
                </th>
                <th id="sobre">
                    <h4>Sobre</h4>
                </th>
                <th id="contato">
                    <h4>Contato</h4>
                </th>
                <th id="buttons">
                    <button class="button">Cadastrar</button>
                    <button class="button" onclick="location.href='http://localhost:3000/login'">Login</button>
                </th>
            </tr>
        </thead>
    </table>
</header>

<main class="container">
    <div id="text-cadastro">
        <h2>Comece agora mesmo a <br> gerenciar sua empresa </h2>
        <button id="cadastro" class="button">Cadastre-se</button>
    </div>
</main>

<footer>
    <p>8RMS</p>
</footer>