<main class="container">
    <div id="text-cadastro">
        <h2>Comece agora mesmo a <br> gerenciar sua empresa </h2>
        <button id="cadastro" class="button">Cadastre-se</button>
    </div>
</main>

<footer>
    <p>8RMS - {{ano}}</p>
</footer>