<head>
     <link rel="stylesheet" href="css/style-listagem.css">
     <link rel="stylesheet" href="/bootstrap-4.6.0-dist/css/bootstrap.min.css">
</head>

<main>
    <div class="container">
        <div class="box">
            <table id="listagem">
                <thead>
                    <tr>
                        <th colspan="3">
                            <h2>Listagem</h2>
                        </th>
                    </tr>
                    <tr id="dados">
                        <th>
                            <h4>Nome</h4>
                        </th>
                        <th>
                            <h4>Ação</h4>
                        </th>
                        <th>
                            <h4>Data</h4>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</main>

<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>8RMS</p>
    </div>
</footer>
