<head>
     <link rel="stylesheet" href="css/style-login.css">
</head>

<main class="login">
    <div class="container">
        <div class="box">
            <img src="img/login-icon.png" alt="login icon" id="icon-login">

            <div>
                <form method="POST" action="/login/sessions">
                    <input type="text" id="e-mail" name="email" placeholder="E-mail"><br>
                    <input type="password" id="password" name="password" placeholder="Senha"><br>
                    <input type="submit" value="Entrar">
                </form>
                
            </div>

            <button id="enviar">Enviar</button>

        </div>
    </div>
</main>

<footer>
    <p>8RMS</p>
</footer>