<form class="form-setor" method="POST" action="/setor">
  <div id="itens">
    <label for="nome" style="color: #fff">Nome do Setor: </label>
    <input type="text" id="name" name="nome" required>
  </div>

  <div id="itens">
    <label for="desc" style="color: #fff">Descrição: </label>
    <input type="text" id="desc" name="descricao" required>
  </div>
  <button class="btn btn-lg btn-primary btn-block col-md-4" type="submit" value="Entrar">Cadastrar</button>
</form>
</body>

</html>