<head>
     <link rel="stylesheet" href="css/style-sobre.css">
     <link rel="stylesheet" href="/bootstrap-4.6.0-dist/css/bootstrap.min.css">
</head>

<main>
    <div class="container">
        <div class="box">
            <br>
            <div id="title">
                <h2>O que é a 8RMS?</h2>
            </div>
            <br>
            <div>
                <p>
                    A 8RMS é um sistema de gerenciamento Recursos Humanos (RH) para gestão publica, ela permite
                    organizar e compilar
                    dados não apenas relacionados à rotina mais burocrática – aviso de férias, cálculo de FGTS, etc. –
                    como
                    também à abordagem estratégica dentro da empresa, dessa forma abandonando de vez o armazenamento de
                    documentos em papel, contribuindo para o aproveitamento de espaço físico da organização.
                </p>
                <br>
                <p>
                    O sistema tem como base auxiliar o profissional no:
                    <br>
                <ul>
                    <li>armazenamento de dados, organização e arquivamento de relatórios;</li>
                    <li>ferramentas para a realização de avaliações de desempenho e gestão de pessoas;</li>
                    <li>módulos para organização, formatação e aplicação de treinamentos;</li>
                    <li>realização de atividades de departamento pessoal.</li>
                </ul>
                </p>
                <br>
                <h2>Qual a importância da contratação de um sistema desses para sua gestão?</h2>
                <br>
                <p>
                    Hoje em dia, o RH assume cada vez mais o papel de braço direito na tomada de decisões da empresa. Só
                    com um quadro claro do capital humano disponível, das estratégias de crescimento e do que está sendo
                    feito para o alcance das metas, os diretores e CEOs têm condições de decidir sobre novas
                    contratações, redução de equipes, remanejamento de funcionários e necessidade de treinamentos
                    internos.
                </p>
            </div>
        </div>
    </div>
</main>

<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>8RMS</p>
    </div>
</footer>
