<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>8RMS</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
        <table id="cabecalho">
            <thead>
                <tr>
                    <th id="logo">
                        <h1><a href="/">8RMS</a></h1>
                    </th>
                    <th id="inicio">
                        <h4><a href="/">Início</a></h4>
                    </th>
                    <th id="sobre">
                        <h4><a href="/sobre">Sobre</a></h4>
                    </th>
                    <th id="contato">
                        <h4><a href="/contato">Contato</a></h4>
                    </th>
                    <th id="buttons">
                        <button class="button" onclick="location.href='/cadastro'">Cadastrar</button>
                        <button class="button" onclick="location.href='/login'">Login</button>
                    </th>
                </tr>
            </thead>
        </table>
    </header>

    {{{body}}}

</body>

</html>